.pricing{
    background-color:#EFF3F5;
    background-image: url('../../images/section-star.jpg');
    background-position: center center ;
    background-repeat: repeat-y;
    margin-top: 2em;
    padding: 5em 2em;
    margin-left: 1em;
    max-width: 98vw;
    height:100h;
}
.pricingHeader{
    color:#6298c7 ;
    text-align: center;
}
.box{
    color: black;
    text-align: center;
    padding-top: 1em;
    background-color: white;
    border-radius: 0.4em;
}
.table{
    background-color: white;
    margin-top: 2em;
    cursor: pointer;
}
.thCol{
   background-color:#6298c7; 
   color:white;
}